.todocontainer {
  width: 100%;
  min-height: 100vh;

  background-color: red;

  &__wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: royalblue;
  }

  &__form {
    padding-bottom: 6rem;
    text-align: center;
    width: 100%;
  }

  &__todos {
    width: 100%;
  }
}
